node_modules/
Bin/
.cache/
.git-credentials
.gitconfig
.npm/
Desktop/
Pictures/
Music/
Public/
Movies/
Library/
Downloads/
Documents/
Desktop/
.local/
.vscode/
.swiftpm/
.viminfo
.bash_history
.viminfo
.config/Spicetify/
.config/gh/
.config/btop/
.ssh/
.zsh_sessions/
.zsh_history
.CFUserTextEncoding
.DS_Store/
.config/DS_Store
.config/configstore/
.config/powerlevel10k