<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.john.json.darkmodehandler</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/$(id -un)/.config/sketchybar/items/scripts/dark-mode-handler.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WatchPaths</key>
    <array>
        <string>/private/var/root/.GlobalPreferences.plist</string>
    </array>
</dict>
</plist>

